.footer{
   /* width:100vw;  */
  /* background-color: black; */
  color: white;
  padding:5%;
}

body{
  background-color: black;
}

/* .footer-links{
  
}
.footer-explore{

}

.footer-contact{
  
} */